<div class="row">
    {% for key,product in products %}
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ product.name }}
                    </h4>
                </div>
                <div class="panel-body">
                    {{ product.description|nl2br }}
                    <div class="row m-t">
                        <div class="col-md-6 text-info">
                            <small>
                                {{ 'Dodano' }}: {{ product.addedAt|date('Y-m-d') }}
                            </small>
                        </div>
                        <div class="col-md-6 text-right text-danger">
                            <b>{{ product.price|money_format }}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ (key + 1) % 3 ? '' : '<div class="clearfix"></div>' }}
    {% else %}
        <div class="alert alert-danger">{{ 'Nie znaleziono produktów.'|trans }}</div>
    {% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(products) }}
</div>
